body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
}

.navbar-brand a img {
    width: 50px;
}

.navbar-menu a {
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

.navbar-menu a:hover {
    background-color: #575757;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container img {
    width: 80px;
    height: auto;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.status-hutang {
    color: red;
}

.status-lunas {
    color: green;
}

.add-btn {
    display: block;
    width: 98.2%;
    padding: 10px;
    margin-top: 20px;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.add-btn:hover {
    background-color: #218838;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close, .close-edit {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close-edit:hover,
.close-edit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, select {
    margin-bottom: 10px;
}

input[type="text"], input[type="number"], input[type="date"], select {
    padding: 8px;
    width: calc(100% - 16px);
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: -50px;
}

.edit-btn {
    background-color: #12da00;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.delete-btn:hover {
    background-color: #940303;
}

.edit-btn:hover {
    background-color: #01790b;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    table, th, td {
        font-size: 14px;
        padding: 5px;
    }

    .modal-content {
        width: 95%;
    }

    .delete-btn, .edit-btn, input[type="submit"] {
        padding: 7px;
        font-size: 10px;
    }

    .add-btn {
        display: block;
        padding: 10px;
        font-size: 14px;
        width: 95%;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
    }

    .navbar-menu a {
        padding: 10px;
    }
}
